# arquivos de cache do python
__pycache__/
*.pyc

# gerados por setup.py (sdist|bdist)
build/
dist/
*.egg-info/

# usados pelo vim
*.swp

# usados pelo rope
.ropeproject/

# usados pelo eclipse
/.project
/.pydevproject
/.settings/

# usados pelo pycharm
/.idea/

# usados pelo shell
/.venv

# backup
*~

# gerados pelos testes
/tests/fixtures/config/cache/paginas-temp.db
